<!DOCTYPE html>
<!-- <link type="text/css"  href='/stylesheets/style.css'/> -->
<!-- <link rel='stylesheet' href='/stylesheets/style.css'/> -->
<link rel='stylesheet' href='/stylesheets/style.css' />
<head>    
    <title>Sarnento 2</title>
</head>
    <body>
        <h1>status</h1>
        <a href="http://">other</a>
        <p>
            Sarnento tá on <a href="/"> <%= status  %> ! </a>
        </p>
    </body>
</html>

